<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WinZoPNG.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WinZoPNG.Properties.Settings>
            <setting name="frmMain_Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="frmMain_Size" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="frmMain_lvTarget_ColWidth" serializeAs="String">
                <value />
            </setting>
            <setting name="frmMain_IsMaximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MaxThreads" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Priority" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OptimizeLevel" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="KeepTimestamp" serializeAs="String">
                <value>True</value>
            </setting>
        </WinZoPNG.Properties.Settings>
    </userSettings>
</configuration>